<div class="login-wrapper">
  <div class="login-card">

    <!-- Header -->
<div class="login-header">
  <img src="logo-sm.png" class="login-logo" alt="DGCA Logo">
  <h3>Secure Login</h3>
  <p>Directorate General of Civil Aviation</p>
</div>

    <form [formGroup]="loginform" (ngSubmit)="doLogin()">

      <!-- Username -->
<div class="form-group">
  <label>Username</label>

  <div class="input-wrapper">
    <span class="icon-box">
      <img src="user-blue.png" alt="user">
    </span>

    <input type="text"
           class="form-control"
           formControlName="username"
           placeholder="Enter username">
  </div>
</div>


<!-- Password -->
<div class="form-group">
  <label>Password</label>

  <div class="input-wrapper">
    <span class="icon-box">
      <img src="{{lockImage}}"
           alt="lock"
           (click)="togglePasswordVisibility()">
    </span>

    <input [type]="showPassword ? 'text' : 'password'"
           class="form-control"
           formControlName="password"
           placeholder="Enter password">
  </div>
</div>


      <!-- Captcha -->
    <div class="form-group captcha-box">
  <div class="captcha-img">
    <canvas #captchaCanvas width="140" height="45"></canvas>
  </div>

  <input type="text"
         class="form-control no-pad"
         formControlName="code"
         placeholder="Enter captcha">
</div>


      <!-- Error -->
      <div class="error-text" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <!-- Actions -->
      <button type="submit" class="btn-login">
        Login Securely
      </button>

      <div class="login-footer">
        <a type="button" (click)="forgetPs()">Forgot Password?</a>
      </div>

    </form>

  </div>
</div>
