.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(6,18,32,.75), rgba(6,18,32,.75));
}

.login-card {
  width: 420px;
  background: rgba(255,255,255,.08);
  backdrop-filter: blur(14px);
  /* border-radius: 16px; */
  padding: 32px;
  color: #fff;
  box-shadow: 0 20px 50px rgba(0,0,0,.6);
}
.login-logo {
  width: 90px;
  height: auto;
  margin-bottom: 5px;
  filter: drop-shadow(0 4px 6px rgba(0,0,0,.4));
}

@media (max-width: 480px) {
  .login-logo {
    width: 70px;
  }
}

.login-header {
  text-align: center;
  margin-bottom: 25px;
}

.login-header h3 {
  font-weight: 700;
  letter-spacing: 1px;
}

.login-header p {
  font-size: 13px;
  opacity: .7;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  font-size: 13px;
  margin-bottom: 6px;
  display: block;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-box {
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  width: 45px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px 0 0 6px;
}

.icon-box img {
  width: 18px;
  height: 18px;
}

.form-control {
  padding-left: 55px;
  height: 44px;
  border-radius: 6px;
}
.no-pad{
  padding-left: 10px;
}

/* .form-control {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255,255,255,.15);
  color: #fff;
} */

.form-control::placeholder {
  color: #bbb;
}

.password-wrapper {
  position: relative;
}

.toggle-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  width: 22px;
  cursor: pointer;
  transform: translateY(-50%);
}

.captcha-box {
  display: flex;
  gap: 10px;
}

.captcha-img img {
  height: 42px;
  border-radius: 6px;
}

.btn-login {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg,#ffcc00,#ff9900);
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
}

.btn-login:hover {
  opacity: .9;
}

.login-footer {
  margin-top: 14px;
  text-align: center;
}

.login-footer a {
  color: #ffcc00;
  cursor: pointer;
  font-size: 13px;
}

.error-text {
  color: #ff6b6b;
  font-size: 13px;
  margin-bottom: 10px;
}

@media(max-width:480px) {
  .login-card {
    width: 95%;
  }
}
