<div class="container chatbot-container">
  <div class="row header">
    <div class="col-md-10">
      <h4>Chatbot for EHL Queries</h4>
    </div>
    <div class="col-md-2 text-end">
      <button (click)="close()">
        <img src="/close.png" alt="Close">
      </button>
    </div>
  </div>

  <!-- Chat + examples scrollable -->
  <div class="chat-area">
    <div class="chat-window">
      <div *ngFor="let msg of messages" [ngClass]="{
        'bot-message': msg.sender === 'bot',
        'user-message': msg.sender === 'user'
      }">
        {{ msg.text }}
      </div>

      <!-- <div class="examples" *ngIf="messages.length === 1">
        <p>Try asking:</p>
        <ul>
          <li *ngFor="let q of exampleQuestions" (click)="selectExample(q)">
            {{ q }}
          </li>
        </ul>
      </div> -->
    </div>
  </div>


  <!-- <div class="input-wrapper">
    <textarea [(ngModel)]="userInput" placeholder="Type a message" class="message"></textarea>
    <button (click)="sendMessage()" class="btn-send">
      <img src="/arrow (2).png" alt="Send Icon" class="arrow">
    </button>
  </div> -->

  <mat-form-field>
    <div class="input-wrapper">
    <input type="text" aria-label="Search" matInput [formControl]="myControl" [matAutocomplete]="auto" />
    <button (click)="sendMessage()" class="btn-send">
      <img src="/arrow (2).png" alt="Send Icon" class="arrow">
    </button>
    </div>
    <mat-autocomplete #auto="matAutocomplete" [autoActiveFirstOption]="true" [displayWith]="displayFn" [class.top-panel]="true">
      <mat-option *ngFor="let option of filteredOptions | async; trackBy:trackByFn" [value]="option.text" (click)="sendMessage()">
        {{option.text}}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>
 
</div>
