<mat-card>
  <mat-card-content>
    <!-- Bar Chart -->
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="card shadow-sm">
            <ag-charts [options]="options"></ag-charts>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card shadow-sm">
            <ag-charts [options]="options3"></ag-charts>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="card shadow-sm">
            <ag-charts [options]="options2"></ag-charts>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card shadow-sm">
            <ag-charts [options]="options1"></ag-charts>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
