<div class="coreui-app">
  <aside class="coreui-sidebar" [class.collapsed]="!sideBarOpen">
    <app-sidebar></app-sidebar>
  </aside>

  <div class="coreui-wrapper">
    <app-header class="coreui-header" [class.collapsed]="!sideBarOpen" (toggleSideBarForMe)="sideBarToggler()">
    </app-header>
    <div class="breadcrumb-bar">
      <div class="alert-marquee">
        <span>{{ alertMessage }}</span>
      </div>
    </div>
    <main class="coreui-content">
      <!-- <ngx-spinner size="large" type="timer" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
      </ngx-spinner> -->
      <router-outlet></router-outlet>
    </main>

  </div>
</div>
