/*
html, body {
  height: 100%;
  margin: 0;
}

mat-drawer-container {
  height: 100vh;
  width: 100vw;
  background: #f6f8fb;
}
.mat-drawer-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.drawer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

app-header {
  flex-shrink: 0;
  height: 64px;
  background: #ffffff;
  z-index: 1000;
}

.content {
  flex: 1;
  overflow: auto;
  padding: 16px;
  background: #f6f8fb;
}


router-outlet + * {
  flex: 1;
  display: block;
}

.content > * {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
} */

.logo{
  height: 50px;
}
