
.breadcrumb-bar {
  height: 40px;
  background: #d8dbe0;
  border-bottom: 1px solid #d8dbe0;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.breadcrumb-bar .active {
  font-weight: 600;
}

.alert-marquee {
  white-space: nowrap;
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 28s linear infinite;
}

.alert-marquee:hover {
  animation-play-state: paused;
}

@keyframes scroll-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.coreui-app {
  display: flex;
  height: 100vh;
  background: #f4f6f8;
}

.coreui-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.coreui-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  /* padding: 0.5rem; */
  background: #f8f9fb;
  scroll-behavior: smooth;
}
/* ===== Sidebar ===== */

.coreui-sidebar {
  width: 275px;
  color: #cfd4da;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.coreui-sidebar.collapsed {
  width: 70px;
}

.coreui-sidebar.collapsed .nav-caption,
.coreui-sidebar.collapsed .brand-caption {
  display: none;
}

.coreui-sidebar.collapsed mat-icon {
  margin: auto;
}

.coreui-sidebar mat-toolbar {
  background: #d8dbe0;
  color: #fff;
  height: 64px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.coreui-sidebar .logo {
  height: 32px;
}

.brand-caption {
  font-size: 17px;
  font-weight: 600;
}

/* Sidebar scrollbar */
.coreui-sidebar ::-webkit-scrollbar {
  width: 6px;
}
.coreui-sidebar ::-webkit-scrollbar-thumb {
  background: #3a3f47;
  border-radius: 3px;
}


