.contents{
  display: flex;
  justify-content: end;
  width: 100vw;
  align-items: center;
  gap:15px;
  padding: 0.25rem 1rem;
}
.contents > * {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.app-header{
  /* background: linear-gradient(60deg, rgb(139, 0, 0),rgb(255, 99, 71)); */
  color: #fff;
   min-height: 8vh !important;
   /* background: linear-gradient(135deg, #3f51b5, #5c6bc0); */
   /* background: linear-gradient(135deg, #3f51b5, #1e88e5); */
   background: linear-gradient(135deg, #3f51b5, #00acc1);
/* background: linear-gradient(135deg, #3f51b5, #7e57c2); */

}

.btn-link {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.btn-link:hover {
  color: #0056b3;
}

.inactivity-timer {
  display: inline-block;
  padding: 0px 20px;
  background-color: #f2f7ff;
  color: #003366;
  font-weight: 750;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid #cce0ff;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 17px;
}

.inactivity-timer:hover {
  background-color: #e0ecff;
  color: #001f4d;
  cursor: pointer;
}

.profile-card {
    max-width: 350px;
    border-radius: 20px;
}

.profile-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f8f9fa;
    color: #6c757d;
    text-decoration: none;
    margin: 0 5px;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    background-color: #007bff;
    color: #fff;
}
