<mat-toolbar class="app-header coreui-header header-actions">
  <button mat-icon-button class="sidebar-toggle" (click)="toggleSideBar()" aria-label="Toggle sidebar">
    <mat-icon class="text-white">view_list</mat-icon>
  </button>
  <nav class="header-nav d-none d-md-flex">
    <a routerLink="/dashboard" >Dashboard</a>
  </nav>
  <span class="flex-spacer">
    <div class="col d-flex justify-content-center align-items-center">
      <form class="search-form">
        <mat-icon class="search-icon">search</mat-icon>
        <input class="search-input" type="search" placeholder="Search Candidate..." matInput #searchInput
          (keyup)="getList($event)" [matAutocomplete]="auto" [formControl]="myControl" aria-label="Search" />

        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async; trackBy: trackByFn" [value]="option"
            (click)="selectOption()">

            <div class="searchedOptions">
              <!-- <image-thumbnail-column [value]="option.imageUrl"></image-thumbnail-column> -->
              <div class="option-text">
                <div class="option-name">{{ option.name }}</div>
              </div>
            </div>
          </mat-option>
          <div *ngIf="searchDataFlag" class="dataMsg">
            {{ noMoreDataMessage }}
          </div>
          <div class="show-more" *ngIf="(filteredOptions | async)?.length >= 20 && !searchDataFlag"
            (click)="getList($event,true)">
            Show more
          </div>

        </mat-autocomplete>
      </form>
    </div>

  </span>
  <div class="header-actions d-none d-md-flex">
    <button mat-icon-button>
      <mat-icon class="text-warning">notifications</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="text-white">mail</mat-icon>
    </button>
  </div>
  <button mat-button [matMenuTriggerFor]="userMenu" class="user-btn">
    <img src="https://randomuser.me/api/portraits/men/52.jpg" class="user-avatar" alt="User" />
  </button>
</mat-toolbar>



<mat-menu #userMenu="matMenu" xPosition="before">
  <div class="profile-card">
    <img src="https://randomuser.me/api/portraits/men/52.jpg" class="profile-img" />
    <h4>Ankit Manjhi</h4>
    <p class="text-muted">Web Developer</p>
    <button mat-stroked-button color="primary" class="w-100 mb-2" (click)="profile()">
      Profile
    </button>
    <button mat-flat-button color="warn" class="w-100" (click)="onLoggedout()">
      Logout
    </button>
  </div>
</mat-menu>
